
.server-header {
    color: white;
    // padding-left: 10%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    // background-color: #393D42;
    position: inline;
    color: white;
    padding: 10px;
    margin-left: 5px;
    // margin: 10px;
    // border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    cursor: default;

    // width: 100px;
    // height: 50px;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #202225;
    top: 0;
}

.display-code-button {
    color: white;
    padding-left: 10%;
    font-size: 16px;
    text-align: center;
    background-color: #393D42;
    position: inline;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

.display-code-button:hover {
    background-color: #43B581;
}

#server-code {
    color: white;
    padding-left: 10%;
    font-size: 16px;
    text-align: center;
    background-color: #2E3136;
    display: none;
    position: inline;
    // color: #2E3136;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    user-select: all;
}


.create-channel {
    color: white;
    padding-left: 10%;
    font-size: 16px;
    text-align: center;
    background-color: #393D42;
    position: inline;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
}

.create-channel:hover {
    background-color: #7289DA;
    cursor: pointer;
}

.text-channels {
    color: white;
    padding-left: 10%;
    font-size: 16px;
    // text-align: center;
    // background-color: #393D42;
    position: inline;
    color: white;
    // padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
}

.channels li {
    margin-top: 10%;
    padding-left: 5%;
    font-size: 16px;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.channels li:hover {
    background-color: #393D42;
}

// .channel-link {
//     color: #72767D;
//     padding-left: 10%;
//     font-size: 16px;
// }

// .channel-link:hover {
//     color: white;
//     background-color: #393D42;
// }

.channel-link {
    // padding: 15px;
    border: none;
    background-color: transparent;
    // border-radius: 50%;
    position: relative;
    text-align: left;
    // height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    margin-left: 10%;
    // margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

// .channel-link:hover {
//     background-color: #36393F;
// }

.channel-link:focus {
  outline: none;
  box-shadow: none;
}

.channel-bar .invite-code{
    padding-left: 11px;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 10%;
}



.user-toolbar-buttons{
    margin-left: 40px;
    margin-top: 0px;
}
.logout-button-container{
    height: 35px;
    width: 37px;
    i{
        position: relative;
        top: 15%;
        left: 20%;
        color: gray;
        font-size: 25px;
    }
}

.logout-button-container:hover{
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    border-radius: 3px;
    i{
       color: red; 
    }  
}


/* logo.logout-button-container text */
.logout-button-container .toolbar-text {
  visibility: hidden;
  width: 90px;
  bottom: 90%;
  left: 70%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
font-weight: 900;
  /* Position the logo.logout-button-container text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the logo.logout-button-container text when you mouse over the logo.logout-button-container container */
.logout-button-container:hover .toolbar-text {
  visibility: visible;
}

.user-toolbar{
  display: flex;
  background-color: #292B2F;
  position: absolute;
  margin-top: 195%;
  padding: 10px;
  img{
    width: 40px;
    height: 40px;
  }
  :nth-child(2){
    margin-top: 4px;
    :first-child{
      font-weight: 900;
    }
  }
}
.channel-bar{
  footer{
    bottom: 0%;
    width: 100%;
  }
}