* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #36393F;
    overflow: hidden;
    overflow-y: none;
}


//SERVERS
.wrapper .sidebar {
    position: absolute;
    width: 75px;
    height: 100%;
    padding: 20px 0;
    background-color: #202225;
    color: white;
    overflow: hidden;
    overflow-y: none;
}

.wrapper .channel-bar {
    position: absolute;
    height: 100%;
    width: 175px;
    margin-left: 75px;
    color: white;
    background-color:#2E3136;
    overflow: hidden;
    overflow-y: none;
    // padding: 20px 0;
    // position: sticky;
}

.wrapper .messages-bar-container {
    position: fixed;
    top: 0;
    width: 88%;
    // width: 80%;
    height: 100%;
    margin-left: 175px;
    text-align: left;
    color: white;
    background-color:#36393F;
    display: flex;
    // padding: 20px 0;
    // overflow: hidden;
    // overflow-y: none;
    
}

// .wrapper .sidebar ul li{
//     padding: 15px;
//     border-bottom: 1px solid rgba(0,0,0,0.05);
//     border-top: 1px solid rgba(225,225,225,0.05);
//     background-color: #36393F;
//     border-radius: 50%;
//     position: relative;
//     text-align: center;
//     height: 55px;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-weight: bold;
//     font-size: 20px;
//     width: 55px;
//     margin-left: 10px;
//     margin-bottom: 10px;
//     cursor: pointer;
// }

.home {
    color: white;
}

.server-link {
    padding: 15px;
    border: none;
    background-color: #36393F;
    border-radius: 50%;
    position: relative;
    text-align: center;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.server-link:hover {
    background-color: #7289DA;
}
.server-link:focus {
  outline: none;
  box-shadow: none;
}

// .server-link {
//     color: white;
//     text-align: center;
// }

// .wrapper .sidebar ul li:hover{
//     background-color: #7289DA;
// }

.home-button {
    padding: 15px;
    border: none;
    background-color: #7289DA;
    border-radius: 50%;
    position: relative;
    text-align: center;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.home {
    color: white;
}

.add-server {
    padding: 15px;
    border: none;
    background-color: #36393F;
    border-radius: 50%;
    position: relative;
    text-align: center;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.join-server {
    padding: 15px;
    border: none;
    background-color: #36393F;
    border-radius: 50%;
    position: relative;
    text-align: center;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.join-server:hover {
    background-color: #43B581;
}

.add-server:hover {
    background-color: #7289DA;
}

.join-server:focus {
  outline: none;
  box-shadow: none;
}

.add-server:focus {
  outline: none;
  box-shadow: none;
}

.home-button:focus {
  outline: none;
  box-shadow: none;
}

.home-button:hover {
    background-color: #40444B;
}





.logout-button {
    background-color: #40444B;
    color: white;
    // padding: 10px;
    // margin: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

.logout-button:focus {
  outline: none;
  box-shadow: none;
}

.logout-button:hover {
    background-color: #7289DA;
}