
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    top: 13px;
    left: 105%;
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 16px;
}
/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


.home-button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.home-button .home {
    top: 13px;
    left: 105%;
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */

.home-button:hover .home {
    visibility: visible;
}

.home-button .home::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}



.add-server {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.add-server .add-server-tooltiptext {
    top: 13px;
    left: 105%;
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 16px;
}
/* Show the tooltip text when you mouse over the tooltip container */

.add-server:hover .add-server-tooltiptext {
    visibility: visible;
}

.add-server .add-server-tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}




.join-server {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.join-server .join-server-tooltiptext {
    top: 13px;
    left: 105%;
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */

.join-server:hover .join-server-tooltiptext {
    visibility: visible;
}

.join-server .join-server-tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.home {
    font-size: 16px;
}

.add-server-tooltiptext {
    font-size: 16px;
}

.join-server-tooltiptext {
    font-size: 16px;
}

